---
import {twMerge} from "tailwind-merge";

const { content, href, logo, classes } = Astro.props;

import HomeLogo from "../symbols/HomeLogo.astro";
import StoreAltLogo from "../symbols/StoreAltLogo.astro";
import StoreLogo from "../symbols/StoreLogo.astro";
import DiscordLogo from "../symbols/DiscordLogo.astro";
import Chevron from "../symbols/Chevron.astro";

const buttonClass = twMerge('bg-neutral-400', 'rounded-lg', 'p-3', 'shadow-lg', classes);

const symbols = {
    HomeLogo,
    StoreAltLogo,
    StoreLogo,
    DiscordLogo,
    Chevron
}

// @ts-ignore
const Symbol = symbols[logo];

---
<button class={ buttonClass }>
    {
        content && !href && logo && (
            <div class="flex">
                <span>{content}</span>
                <span slot="logo" class="ml-2"><Symbol/></span>
            </div>
        )
    }
    {
        content && !href && !logo && (
                    <div class="flex">
                        <span>{content}</span>
                    </div>
        )
    }
    {
        content && href && logo && (
                    <a href={href} class="flex">
                        <span>{content}</span>
                        <span slot="logo" class="ml-2"><Symbol/></span>
                    </a>
        )
    }
</button>

<style>
    button {
        color: rgb(230, 230, 230);
    }
</style>
