---
import Discord from '../../assets/svg/discord-logo.svg?url';
import X from '../../assets/svg/x-logo.svg?url';
import YouTube from '../../assets/svg/youtube-logo.svg?url';
import Instagram from '../../assets/svg/instagram-logo.svg?url';
import TikTok from '../../assets/svg/tiktok-logo.svg?url';
import Reddit from '../../assets/svg/reddit-logo.svg?url';
---
<footer class="bg-neutral-800 rounded-t-2xl container">
    <div class="block lg:hidden">
        <div class="flex flex-1 justify-around items-center mt-12 pt-12 pb-10 divide-x-2">
            <div class="w-1/2">
                <div class="mx-auto my-6 text-left w-full">
                </div>
                <div class="my-6">
                    <p class="text-neutral-400 gabarito-400">SereneFields 2024</p>
                    <p class="gabarito-400 text-color">Not affiliated with or endorsed by Mojang or Microsoft.</p>
                </div>
            </div>
            <div class="flex justify-around  items-center w-1/2">
                <div class="divide-y">
                    <div>
                        <p class="gabarito-600 text-neutral-400 mb-2">SereneFields</p>
                    </div>
                    <div>
                        <p class="gabarito-400 text-color my-1"><a href="/">Home</a></p>
                        <p class="gabarito-400 text-color my-1"><a href="/store">Store</a></p>
                        <p class="gabarito-400 text-color my-1"><a href="/about">About</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-center items-center h-full text-neutral-50 flex lg:hidden">
            <a href="https://discord.gg/44cc8ary4x"><img src={Discord} alt="Discord Logo" class="w-8 h-8 mx-2"></a>
            <a href="https://x.com/serenefieldsmc"><img src={X} alt="X Logo" class="w-8 h-8 mx-2"></a>
            <a href="https://www.youtube.com/@SereneFieldsMC"><img src={YouTube} alt="YouTube Logo" class="w-8 h-8 mx-2"></a>
            <a href="https://www.instagram.com/serenefieldsmc/"><img src={Instagram} alt="Instagram Logo" class="w-8 h-8 mx-2"></a>
            <a href="https://www.tiktok.com/@serenefields"><img src={TikTok} alt="TikTok Logo" class="w-8 h-8 mx-2"></a>
            <a href="https://www.reddit.com/r/SereneFields/"><img src={Reddit} alt="Reddit Logo" class="w-8 h-8 mx-2"></a>
        </div>
    </div>
    <div class="hidden lg:block">
        <div class="flex flex-1 justify-around items-center mt-12 pt-12 pb-10 divide-x-2">
            <div class="w-1/2 items-center">
                <div class="my-6">
                    <p class="text-neutral-400 gabarito-400">SereneFields 2024</p>
                    <p class="gabarito-400 text-color">Not affiliated with or endorsed by Mojang or Microsoft.</p>
                </div>
            </div>
            <div class="flex justify-around  items-center w-1/2">
                <div class="divide-y">
                    <div>
                        <p class="gabarito-600 text-neutral-400 mb-2">SereneFields</p>
                    </div>
                    <div>
                        <p class="gabarito-400 text-color my-1"><a href="/">Home</a></p>
                        <p class="gabarito-400 text-color my-1"><a href="/store">Store</a></p>
                        <p class="gabarito-400 text-color my-1"><a href="/about">About</a></p>
                    </div>
                </div>
                <div class="justify-center items-center h-full text-neutral-50 hidden lg:flex">
                    <a href="https://discord.gg/44cc8ary4x"><img src={Discord} alt="Discord Logo" class="w-8 h-8 mx-2"></a>
                    <a href="https://x.com/serenefieldsmc"><img src={X} alt="X Logo" class="w-8 h-8 mx-2"></a>
                    <a href="https://www.youtube.com/@SereneFieldsMC"><img src={YouTube} alt="YouTube Logo" class="w-8 h-8 mx-2"></a>
                    <a href="https://www.instagram.com/serenefieldsmc/"><img src={Instagram} alt="Instagram Logo" class="w-8 h-8 mx-2"></a>
                    <a href="https://www.tiktok.com/@serenefields"><img src={TikTok} alt="TikTok Logo" class="w-8 h-8 mx-2"></a>
                    <a href="https://www.reddit.com/r/SereneFields/"><img src={Reddit} alt="Reddit Logo" class="w-8 h-8 mx-2"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .gabarito-400 {
        font-family: 'Gabarito', sans-serif;
        font-weight: 400;
    }

    .gabarito-600 {
        font-family: 'Gabarito', sans-serif;
        font-weight: 600;
    }

    .text-color {
        color: rgb(230, 230, 230);
    }

    svg {
        color: rgb(230, 230, 230);
    }
</style>
