---
import Tick from "../../symbols/Tick.astro";
const { name, description, oldPrice, newPrice, image, perks } = Astro.props;
import { Image } from "astro:assets";
---
<div class="bg-neutral-800 text-color p-6 rounded-xl shadow-lg flex flex-col justify-between h-full">
    <div class="flex flex-col items-center mb-4">
        <Image src={image} alt={name} class="w-full object-cover mb-4" width="256px" height="256px"/>
        <h2 class="text-4xl font-medium mb-2">{name}</h2>
        <p class="text-xl font-normal text-center mb-4 min-h-[120px]">{description}</p>
        <ul class="list-disc list-inside text-left grid grid-rows-[repeat(7,_min-content)] gap-1">
            {perks.map(perk => (
                    <li class="flex items-center gap-2 text-xl">
                        <Tick/>
                        {perk}
                    </li>
            ))}
        </ul>
    </div>
    <div class="text-center">
        {oldPrice && <p class="line-through text-lg text-red-500">{oldPrice}</p>}
        <p class="text-2xl font-semibold">{newPrice}</p>
        <button class="mt-4 bg-yellow-500 hover:bg-yellow-300 text-black px-4 py-2 font-bold text-xl rounded-md transition-colors duration-300 ease-in-out">BUY</button>
    </div>
</div>

<style>
    .text-color {
        color: rgb(230, 230, 230);
    }
    h2, p, li {
        font-family: 'Gabarito', sans-serif;
    }
</style>
