---
import ProductCard from './ProductCard.astro';

const { products } = Astro.props;
---
<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    {products.map(product => (
            <ProductCard
                    name={product.name}
                    description={product.description}
                    oldPrice={product.oldPrice}
                    newPrice={product.newPrice}
                    image={product.image}
                    perks={product.perks}
                    color={product.color}
                    border={product.border}
                    tag={product.tag}
                    background={product.background}
            />
    ))}
</div>
